@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
#navbar{
    position:fixed;
    width: ;
    top: 0;
    left: 0;
    z-index: 100;
    padding: .5rem 5rem;
    box-shadow: 5px 5px 20px rgba(0,0,0,.5);
    background-color: black;
}
#navbar .navbar-brand{
    color: green !important;
    font-weight: 800;
    font-size: 25px;
}
#navbarSupportedContent a{
    color: white;
    border-bottom: 2px solid transparent;
}
#navbarSupportedContent a:hover{
    border-bottom: 2px solid green;
    transition: 0.5s;
}
#navbarSupportedContent button{
    background-color: green;
    color: white;
}
section{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*home*/

#home{
   background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,.7)),url(./organic-spices.jpg); 
   background-size: cover;
   background-position: center;

}
#home h1{
    font-size: 100px;
    color: white;
    letter-spacing: 3px;
    font-weight: 800;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 0px 1px 0px #ccc,
                 0px 2px 0px #ccc,
                 0px 3px 0px #ccc,
                 0px 4px 0px #ccc,
                 0px 5px 0px #ccc,
                 0px 6px 0px #ccc,
                 0px 6px 0px #ccc;
}
#home p{
    font-size: 15px;
    color: white;
}
#home .input-group{
    width: 40%;
   height: 45px;
}
.signin{
    background-color: green !important;
    color: white !important;
}

/*ABOUT*/
#about img{
    height: 400px;
}
#about{
    
    background-color: rgba(0, 255, 255, 0.295);
}
#about h1{
    font-weight:800 ;
    font-size:45px ;
}

/*product*/
#product{
    background-color: rgba(128, 128, 128, 0.301);
    padding-top: 30px;
}
#product h1{
    font-size:50px ;
    letter-spacing: 3px;
    font-weight: 700;
}
#product img{
    width: 190px;
    height: 200px;
    padding-top: 10px;
    border-radius: 3px  ;
}
.card{
    
    height: 290px;
    border: none !important;
    box-shadow: 15px 20px 20px rgba(0,0, 0,.3),
    inset 4px 4px 10px white;
    border-radius: 20px !important;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 20px 60px;
}
.card-body{
    text-align: center;
}